<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Narrow Down Your Chinese Menu Choice</title>
  </head>
  <body>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div ng-controller='NarrowItDownController as menu'>
      <h3>List of Menu Categories</h3>
      <input type="text" ng-model="menu.searchTerm" placeholder="search term">
      <button ng-click="menu.searchForTerm(menu.searchTerm)">Narrow It Down For Me!</button>
      <ol>
        <li ng-repeat="item in menu.foundItems">{{ item.name }},{{ item.short_name }},{{ item.description }}
          <button ng-click="menu.removeItem( $index)">Don't want this one!</button>
        </li>
      </ol>
      <div ng-if="menu.foundItems.length==0" class="error">Nothing found</div>
    </div>
  </body>
</html>
